<%- include('header') %>

<section class="pcoded-main-container p-5">
    <div >
        <!-- [ breadcrumb ] start -->
     
        <div class="row">
            <div class="col-lg-12">
                <form action="/movie_plan/editData" method="post">
                    <input type="hidden" value="<%= plan.id %>" name="editId">
                    <div class="form-floating d-flex align-items-center">
                        <label class="floatingInput mb-0" style="margin-right: 20px;">Select Movie Name :-</label>
                        <select name="movie_id" class="form-control" style="box-shadow: none; width: 30%;">
                            <option value="">-- Select Movie Name -- </option>
                            <%  for(var i of detail) { %>
                                <option value="<%= i.id %>" <% if(i.id == plan.movie_id.id) { %> <%= "selected" %> <% } %>><%= i.movie_name %></option>
                            <% } %>
                        </select>
                    </div><br>
                    <div class="form-floating d-flex align-items-center">
                        <label class="floatingInput mb-0" style="margin-right: 20px;">Enter Show Time :-</label>
                        <input type="text" class="form-control border-0" style="box-shadow: none; width: 30%;" value="<%= plan.show_time %>" placeholder="Show Time" name="show_time">
                    </div><br>
                    <div class="form-floating d-flex align-items-center">
                        <label class="floatingInput mb-0" style="margin-right: 20px;">Enter Show Price :-</label>
                        <input type="number" class="form-control border-0" style="box-shadow: none; width: 30%;" value="<%= plan.show_price %>" placeholder="Show Price" name="show_price">
                    </div><br>
                    <input type="submit" value="Submit" name="submit" class="btn btn-primary px-4">
                </form>
            </div>
        </div>
        <!-- [ Main Content ] end -->

    </div>
</section>

<%- include('footer') %>
