<%- include('header'); %>
<style>
    .pagination{
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.4s all;
    color: #4680FF;
    background-color: #101b33;
}
.pagination:hover{
    background-color: #4680FF;
    color: #101b33;
}
.form-group .floating-label {
    position: absolute;
    top: 8px;
    left: 28px;
    font-size: 0.875rem;
    z-index: 1;
    cursor: text;
    transition: all 0.3s ease;
}
</style>
<section class="pcoded-main-container">
    <div class="p-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Active Student</h5>
                            <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span>
                        </div>
                        <% if(count > 1 || search != '') { %>
                            <form class="mb-0 d-flex col-5 justify-content-center align-items-center">
                                <div class="form-group mb-0 col-9">
                                    <input type="text" class="form-control" name="search" placeholder="Movie Name">
                                </div>
                                <input type="submit" name="submit" class="btn btn-block btn-primary" value="Search">
                            </form>
                        <% } %>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Streaming Chanel</th>
                                        <th>View Count</th>
                                        <th>Trailer Link</th>
                                        <th>Link</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <% var j = 1; for(var i of other) { %>                                   
                                    <tr>
                                        <td><%= j++ %></td>
                                        <td><%= i.movie_id.movie_name %></td>
                                        <td><%= i.movie_streaming_chanel %></td>
                                        <td><%= i.movie_view_count %></td>
                                        <td><a href="<%= i.movie_trailer_link %>" target="_blank">View Trailer</a></td>
                                        <td><a href="<%= i.movie_link %>" target="_blank">View Movie</a></td>    
                                        <td><a href="/movie_others/deleteData/<%= i.id %>" title="deleteData"><i class="feather icon-trash"></i></a> || 
                                            <a href="/movie_others/updateData/<%= i.id %>" title="updateData"><i class="feather icon-edit"></i></a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <% if(count > per_page) { %>
                                <div class="d-flex justify-content-center">
                                    <% if(prev >= 1) { %>
                                    <a href="?page=<%= prev %>&search=<%= search %>" class="pagination">Prev</a>
                                    <% } %>
                                    <!-- <a href="?page=<%= curr %>&search=<%= search %>" class="pagination"><%= curr %></a> -->
                                    <% if(next <= total) { %>
                                    <a href="?page=<%= next %>&search=<%= search %>" class="pagination">Next</a>
                                    <% } %>
                                </div>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<%- include('footer'); %>